apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
  namespace: monitoring
data:
  alertmanager.yml: |
    global:
      resolve_timeout: 5m

    route:
      receiver: "sns-webhook"
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 1h

    receivers:
      - name: "sns-webhook"
        webhook_configs:
          - url: "{{ .Values.alertmanager.webhookUrl }}"
            send_resolved: true
