apiVersion: v1
kind: Secret
metadata:
  name: aws-credentials
  namespace: default
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: "AKIA2RP6IA3XIIYJNJ5E"
  AWS_SECRET_ACCESS_KEY: "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"
