
version: '3.9'
services:
  backend:
    image: rewear-backend:latest
    ports:
      - "3000:5000"
    environment:
      MONGO_URI: "mongodb://mongo:27017/reweardb"
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
