---
- name: enforce s3 bucket versioning on AWS account
  hosts: localhost
  gather_facts: false
  tasks:
    - name: list all s3 buckets in the account
      amazon.aws.s3_bucket_info:
        region: us-east-1
      register: result
    - debug:
        var: result.buckets    

    - name: loop through each bucket and enable bucket versioning
      amazon.aws.s3_bucket:
        name: "{{ item.name }}"
        versioning: yes
        region: us-east-1
      loop: "{{ result.buckets }}"