apiVersion: v1
kind: Secret
metadata:
  name: mongo-secret
  namespace: default
type: Opaque
stringData:
  uri: "mongodb+srv://soham44:chiulate1@reweardb.lsb0bpg.mongodb.net/?retryWrites=true&w=majority&appName=reweardb"
 
 